# {{ ansible_managed }}
127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{% for host_entry in host_entries %}
{% for entry in host_entry %}{{ entry }} {% endfor %}

{% endfor %}
