infra_name: {{ infra_name }}
infra_description: '{{ infra_description }}'
infra_domain: '{{ infra_domain }}'
infra_region: {{ infra_region }}
vpc_name: '{{ infra_name }}'

env_spec: {{ env_spec }}

aws_mtype_disk_map: {
  "m5.xlarge":  "nvme2n1",
  "m5.2xlarge": "nvme2n1"
}
